In [2]:
!pip install pandas
!pip install psycopg2

zsh:1: command not found: pip
zsh:1: command not found: pip

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pandas

Requirement already satisfied: pandas in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/lakshaytyagi/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import psycopg2
import pandas as pd

In [40]:
def create_database():
    conn = psycopg2.connect(host="localhost",database="postgres",user="postgres",password="Jaisiaram@30")
    curr=conn.cursor()
    conn.set_session(autocommit=True) 
   
  
    curr.execute('create database sports')
    conn.close()
    conn = psycopg2.connect(host="localhost",database="sports",user="postgres",password="Jaisiaram@30")
    curr=conn.cursor()
    
    return conn,curr

In [16]:
create_database()

(<connection object at 0x7fe6da77aac0; dsn: 'user=postgres password=xxx dbname=cars host=localhost', closed: 0>,
 <cursor object at 0x7fe690341b80; closed: 0>)

In [20]:
try:
 conn = psycopg2.connect(host="localhost",database="cars",user="postgres",password="Jaisiaram@30")
 curr=conn.cursor()
except psycopg2.Error as e:
    print(e)

In [27]:
car_price=pd.read_csv('car_prices.csv')

In [30]:
car_price.head()

        make   model  year  mileage  price   color state
0  Chevrolet   Cruze  2011    99157  37488   white    TX
1     Toyota   Cruze  2017    19882  34176     red    IL
2  Chevrolet  Altima  2011    77718  40297    blue    CA
3     Nissan  Fusion  2012    83613  43492  silver    TX
4       Ford   Cruze  2016    95349  26655     red    NY

In [29]:
car_price=car_price.drop(['date'],axis=1)

In [35]:
car_price_test=pd.read_csv('meets.csv')

In [36]:
car_price_test.head()

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,SC,Rock Hill,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,SC,Rock Hill,Eastern USA Challenge

In [41]:
create_database()

(<connection object at 0x7fe6908fc430; dsn: 'user=postgres password=xxx dbname=cars host=localhost', closed: 0>,
 <cursor object at 0x7fe6908198b0; closed: 0>)

In [50]:

 curr.execute("create table if not exists meet(playerId serial PRIMARY KEY,MeetID int,MeetPath varchar,Federation varchar,Date Date,MeetCountry char,MeetState char,MeetTown char, MeetName varchar)")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [45]:
curr.close()

In [46]:
 conn = psycopg2.connect(host="localhost",database="sports",user="postgres",password="Jaisiaram@30")
    curr=conn.cursor()

IndentationError: unexpected indent (1440803822.py, line 2)

In [52]:
 conn = psycopg2.connect(host="localhost",database="sports",user="postgres",password="Jaisiaram@30")
curr=conn.cursor()
conn.set_session(autocommit=True)

In [53]:

 curr.execute("create table if not exists meet(playerId serial PRIMARY KEY,MeetID int,MeetPath varchar,Federation varchar,Date Date,MeetCountry char,MeetState char,MeetTown char, MeetName varchar)")

In [56]:
car_price_test.columns

Index(['MeetID', 'MeetPath', 'Federation', 'Date', 'MeetCountry', 'MeetState',
       'MeetTown', 'MeetName'],
      dtype='object')

In [60]:
query_execute=("""insert into meet(MeetID, MeetPath, Federation, Date, MeetCountry, MeetState,
       MeetTown, MeetName) values(%s,%s,%s,%s,%s,%s,%s,%s)""")

In [67]:
for i, row in car_price_test.iterrows():
     curr.execute(query_execute,list(row))

In [66]:
curr.execute("alter table meet alter column MeetCountry type varchar")